
body {
    font-family: 'Assistant', sans-serif;

}

.intro-video {
    font-family: 'Lobster', cursive;
    height: 730px;
    width: 100%;
    background-image: url("images/shop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
}

.intro-video h1 {
    font-size: 80px;
}

.navbar {
    transition: all 0.4s;
}


.navbar .nav-link {
    color:  #161a1d;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color:  #161a1d;
    text-decoration: none;
}

.navbar .navbar-brand {
    color:  #161a1d;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.phii {
  font-family: 'Lobster', cursive;  
}

.tan {
    border-style: solid;
    border-color: #ffa343; 
    border-width: 2px;
}


/* --About-- */

.about-section {
    height: 730px;
    width: 100%;
    background-color: #f2f2f2;
}

.about-section img {
    height: 470px;
    width: 350px;
}

.about-margin {
    margin-top: 40px;
}

.about-spacing {
    padding-top: 20px;
}

.pic-pad {
    padding-top: 50px;
}

/* --Prices-- */

.price-section {
    height: 637px;
    width: 100%;
    
}

.price-menu {
    padding-top: 60px;
    font-weight: bold;
}

.price-title {
    padding-top: 30px;
    font-weight: bold;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list li{
    margin-bottom: 20px;
}

.menu-title {
    margin-right: 370px;
    margin-bottom: 0px;
}


/* --Portfolio-- */

.portfolio-section {
    height: 700px;
}

.quote {
    
    padding-top: 312px;
    padding-bottom: 324px;
    background-color: #262626;
    color: ivory;
   
}

/* --Cuts-- */

.cut-section {
    height: 630px;
    width: 100%;
    background-color: snow;
}

.cut-container {
    position: relative;
}


.cut-photo img {
    padding-top: 10px;
    height: 375px;
    width: 500px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: snow;
    border-style: solid;
    border-color: #ffa343; 
    border-width: 2px;
  }

  .cut-container:hover .overlay {
      opacity: 1;
  }

  .text {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* --Newsletter-- */

.news-letter {
    font-size: 25px;
    padding-top: 70px;
    padding-bottom: 60px;
    background-image: url(https://images.unsplash.com/photo-1573588546512-2ace898aa480?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-image: cover;
    

}

/* --Booking-- */

.booking-section {
    height: 730px;
    width: 100%;
    background-color: snow;
}

.book-space {
    padding-top: 50px;
    width: 650px;
}

.address {
    padding-top: 150px;
}

.form-message {
    padding-top: 25px;
    padding-bottom: 80px;
}

/* --Footer-- */

.footer-section {
    background-color: #e6e6e6;
}




/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    .menu-title {
        margin-right: 280px;
        margin-bottom: 0px;
    }
    
    .about-section{
        height: 630px;
    }

    .about-margin {
        margin-top: 0px;
    }

    .pic-pad {
        padding-top: 70px;
    }
}
  
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    
    .about-section {
        height: 655px;
        width: 100%;
    }

    .about-spacing {
        padding-top: 15px;
    }

    .about-margin {
        margin-top: 0px;
    }

    .hide {
        display: none;
    }

    .pic-pad {
        padding-top: 150px;
    }

    .price-section {
        height: 615px;
        width: 100%;
    }

    .menu-title {
        margin-right: 170px;
        margin-bottom: 0px;
    }
   
    
 }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .intro-video h1 {
        font-size: 80px;
    }

    /* --Prices-- */

    .price-section {
        height: 655px;
        width: 100%;
        
    }

    .price-title {
        padding-top: 50px;
        font-weight: bold;
    }

    /* --About-- */

    .about-section {
        height: 900px;
        width: 100%;
    }

    .about-spacing {
        padding-top: 20px;
    }

    .pic-pad {
        padding-top: 40px;
    }

    .about-margin {
        margin-top: 0px;
    }


    /* --Prices-- */

    .menu-title {
        margin-right: 80px;
        margin-bottom: 0px;
    }

    .address {
        padding-top: 10px;
    }

    /* --Portfolio-- */

    .portfolio-section {
        height: 709px;
        width: 100%;
    }

    .quote {

        padding-top: 320px;
        padding-bottom: 325px;
        background-color: #262626;
        color: ivory;
       
    }

    /* --Cuts-- */

    .cut-section {
        height: 1000px;
        width: 100%;
        background-color: snow;
    }

    

    .cut-photo img {
        height: 275px;
        width: 500px;
    }

    /* --Newsletter-- */

    .news-letter {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

   /* --Booking-- */

    .booking-section {
        height: 975px;
        width: 100%;
        background-color: snow;
    }

    i {
        font-size: 20px;
    }

}


 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

    .intro-video {
        height: 500px;
        padding-top: 100px;
    }

    .intro-video h1 {
        font-size: 60px;
    }

    .about-section {
        height: 1715px;
    }

    .about-spacing {
        padding-top: 15px;
    }

    .img-fluid {
        height: 100%;
        width: 100%;
    }

    .phone-size {
        display: flex;
        justify-content: center;
        height: 600px;
    }

    .hide {
        display: block;
    }

    
    .price-section {
        height: 1068px;
        width: 100%;
        
    }

    .menu-title {
        margin-right: 375px;
        margin-bottom: 0px;
    }

    .portfolio-section {
        height: 1016px;
    }

    .quote {

        padding-top: 220px;
        padding-bottom: 220px;
        background-color: #262626;
        color: ivory;
       
    }

    .quote h5 {
        font-weight: bold;
        font-size: 22px;
    }

    .news-letter {
        font-weight: bold;
        font-size: 20px;
    }

    .news-letter button {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
    }


    /* Extra  Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 375.98px) { 

    .intro-video {
        height: 500px;
        padding-top: 100px;
    }

    .intro-video h1 {
        font-size: 60px;
    }

    .about-section {
        height: 1580px;
    }

    .about-spacing {
        padding-top: 10px;
    }

    .img-fluid {
        height: 100%;
        width: 100%;
    }

    .phone-size {
        display: flex;
        justify-content: center;
        height: 500px;
    }

    .hide {
        display: block;
    }

    
    .price-section {
        height: 1068px;
        width: 100%;
        
    }

    .menu-title {
        margin-right: 180px;
        margin-bottom: 0px;
    }

    .portfolio-section {
        height: 1016px;
    }

    .quote {

        padding-top: 220px;
        padding-bottom: 220px;
        background-color: #262626;
        color: ivory;
       
    }

    .quote h5 {
        font-weight: bold;
        font-size: 22px;
    }

    .news-letter {
        font-weight: bold;
        font-size: 20px;
    }

    .news-letter button {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
    }

    /* --Prices

    .price-section {
        height: 655px;
        width: 100%;
        
    }

    .price-title {
        padding-top: 50px;
        font-weight: bold;
    }


    .about-section {
        height: 900px;
        width: 100%;
    }

   

    .about-pic {
        margin-top: 80px;
    }



    .menu-title {
        margin-right: 80px;
        margin-bottom: 0px;
    }

    .address {
        padding-top: 10px;
    }


    .portfolio-section {
        height: 750px;
    }

    .quote {

        padding-top: 320px;
        padding-bottom: 320px;
        background-color: #262626;
        color: ivory;
       
    }


    .cut-section {
        height: 1000px;
        width: 100%;
        background-color: snow;
    }

    

    .cut-photo img {
        height: 275px;
        width: 500px;
    }

   

    .booking-section {
        height: 975px;
        width: 100%;
        background-color: snow;
    }

    i {
        font-size: 50px;
    } -- */

}
 

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */